$width-body: 970px;

.wrap-body {
    width:  $width-body;
    margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-header {
  margin: auto;
  width: 75%;
  min-height: 90px;
  padding: 1em 2em;
  border: 2px solid #2675a9;
  border-top: none;
  border-radius: 0 0 5px 5px;
	background: #2980b9;
}
  .main-header:after {
    content: " ";
    display: table;
    clear: both;
  }
.logo {
	display: block;
	text-decoration: none;
  float: left;
  margin-top: 5px;
}
  .logo::before {
    color: #fff;
    content: "\e001";
    font-weight: normal;
    font-style: normal;
    font-size: 2.5em;
    font-family: "icomoon";
    -webkit-font-smoothing: antialiased;
  }



.main-nav,
.drop-nav {
  background: #2c3e50;
}
.main-nav {
  float: right;
  border-radius: 4px;
  margin-top: 8px;
  border: solid 1px #1e2a36;
}
  .main-nav > li {
    float: left;
    border-left: solid 1px #1e2a36;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
}
.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #395066;
}
*/
// BEGIN flex-header

/*
.flex-header {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 75%;
    min-height: 90px;
    padding: 1em 2em;
    border: 2px solid #2675a9;
    border-top: none;
    border-radius: 0 0 5px 5px;
  	background: #2980b9;

    .logo {
        margin-right: auto;
    }

    .main-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 2.4em;
        border-radius: 4px;
        margin-top: 8px;
        border: solid 1px #1e2a36;
        background: #2c3e50;
    }

    .main-nav > li {
       border-left: solid 1px #1e2a36;
    }

    .main-nav li:first-child  {
        border-left: none;
    }

    .main-nav a {
        color: #fff;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
    }

    .main-nav li:hover {
        background: #395066;
    }
}

.header-big-menu {
    width: 100%;
}

*/


$menu-color: #1a9f29;

.menu {
    width: 100%;
    background: $menu-color;
    position: relative;
    min-height: 38px;

    .navbar {
        width:  $width-body;
        margin: 0 auto;
    }

    // .navbar-advanced {
    //     position: absolute;
    //     background: yellow;
    //     height: 250px;
    //     //z-index: 1;
    //     display: none;
    //     width: 100%;
    // }

    .main-menu {
        background: $menu-color;
        display: flex;
        justify-content: flex-start;
    }


    .main-menu > li {
        border-left: solid 1px #91eb9c;
    }

    .main-menu li:first-child  {
        border-left: none;
        //border-radius: 10px;
    }

    .main-menu a {
        color: #fff;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        text-align: center;
    }


    .main-menu .active {
        background: #fff;
        a {
            color: $menu-color;
        }
    }

    .navbar-dropdown {
        width:  $width-body+2px;
        margin: 0 auto;
        position: relative;

        .item {
            position: absolute;
            z-index: 1;
            height: 150px;
            //background: rgba(211, 205, 242, 1);
            background: #fff;
            display: none;
            width: 100%;
            border: solid 1px $menu-color;
            border-top: none;
        }

        .active {
            display: block;
        }

    }


}
