<!doctype html>
<html>
<head>
    <title>Autonoda</title>

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/bower_components/mocha/mocha.css">
    {{/if}}

    <!-- BEGIN bootstrap css -->
    <link rel="stylesheet" href="/vendor/bower_components/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- END bootstrap css -->

    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- BEGIN bootstrap js -->
    <script src="/vendor/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- END bootstrap js -->

    <!-- <script src="/vendor/bower_components/handlebars/handlebars.min.js"></script> -->

    <style>
        body {
            padding-top: 5rem;
        }
        .starter-template {
          padding: 3rem 1.5rem;
          text-align: center;
        }
    </style>

</head>
<body>

    <header>
        <!--<img src="/img/logo.png" alt="Логотип Autonoda">-->
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
          <a class="navbar-brand" href="/admin">Autonoda</a>
          <ul class="nav navbar-nav">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/users">Users</a>
            </li>
          </ul>
        </nav>
    </header>

    <div class="container">
      <div class="starter-template">
        {{{body}}}
      </div>

    </div><!-- /.container -->




    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/bower_components/mocha/mocha.js"></script>
        <script src="/vendor/bower_components/chai/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>
