<!doctype html>
<html>
<head>
    <title>Autonoda</title>

    <link rel="stylesheet" href="/vendor/normalize.css/normalize.css">

    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- BEGIN main-menu -->
    <link rel="stylesheet" href="/css/main-menu/main-menu-styles.css">
    <!-- <script src="/js/main-menu/mainMenu.js"></script> -->
    <!-- END main-menu -->

</head>
<body>
    <div class="menu">

        <!-- <div class="navbar">
            <ul class="main-menu">
                <li class="active"><a data-item="one" href="#">Первая</a></li>
                <li><a data-item="two" href="#">Вторая</a></li>
                <li><a data-item="three" href="#">Третья</a></li>
            <ul>
        </div>

        <div class="navbar-dropdown">
            <div class="item navbar-dropdown-one">
                <div class="item-inner">
                    navbar-advanced-one
                </div>
            </div>
            <div class="item navbar-dropdown-two">
                <div class="item-inner">
                    navbar-advanced-two
                </div>
            </div>
            <div class="item navbar-dropdown-three">
                <div class="item-inner">
                    navbar-advanced-three
                </div>
            </div>
        </div> -->

    </div>

    <script src="/js/main-menu/mainMenu.js"></script>


    <div class="wrap-body">
        <div class="container">
            {{{body}}}
        </div>

        <footer>
            copyright
        </footer>
    </div>
</body>
</html>
