<!doctype html>
<html>
<head>
    <title>Autonoda</title>

    <link rel="stylesheet" href="/vendor/normalize.css/normalize.css">

    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/main/common-styles.css">

    <!-- BEGIN main-menu -->
    <link rel="stylesheet" href="/css/main-menu/main-menu-styles.css">
    <!-- <script src="/js/main-menu/mainMenu.js"></script> -->
    <!-- END main-menu -->

</head>
<body>
    <div class="wrap-fixed-header">
        <div class="fixed-header">
            fixed-header
            <div class="auth-root">auth root</div>
        </div>
    </div>

    <div class="wrap-header">
        <div class="header">
        </div>
    </div>
    <!-- BEGIN main menu -->
    <div class="menu"></div>
    <div class="menu-after"></div>
    <!-- END main menu -->

    <div class="main">
        <!-- <div class="container"> -->
            {{{body}}}
        <!-- </div> -->
    </div>

    <div class="wrap-footer">
        <div class="footer">
            footer
        </div>
    </div>

    <!-- BEGIN SPA -->
    <!-- <script src="/js/auth.js"></script> -->
    <script src="/js/shell.js"></script>
    <!-- END SPA -->

    <script src="/js/main-menu/mainMenu.js"></script>
</body>
</html>
