<!doctype html>
<html>
<head>
    <title>Autonoda</title>
    <!-- Bootstrap -->
    <link href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/bower_components/mocha/mocha.css">
    {{/if}}

    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


</head>
<body>
    <header><img src="/img/logo.png" alt="Логотип Autonoda"></header>
    <div class="page-content">
        <!-- <div class="test-react"></div> -->
        {{{body}}}
    </div>

    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/bower_components/mocha/mocha.js"></script>
        <script src="/vendor/bower_components/chai/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>
